<% provide(:title, 'New user') %>
<h1>New user</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :group %>
      <%= f.select :group, {"GROUP1" => "group-1",
                            "GROUP2" => "group-2",
                            "GROUP3" => "group-3",
                            "GROUP4" => "group-4",
                            "GROUP5" => "group-5"},
                            :prompt => "選択してください" %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :admin %>
      <%= f.check_box :admin ,{:checked => false}, true, false %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create new user", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
