<div class="documents">
  <h3>
    <%= link_to document.name, document_download_path(document) %>
  </h3>
  <p><%= document.content_type %></p>
  <p><%= markdown(document.description) %></p>
  <% if signed_in? && (current_user?(document.user) || current_user.admin?) %>
    <h3>
      <%= link_to "Edit", edit_document_path(document) %><br />
      <% if current_user.admin? %>
        <%= link_to "Delete", document, method: :delete,
                                 data: { confirm: "You sure?" } %>
      <% end %>
    </h3>
  <% end %>
</div>
