<% provide(:title, "Edit document") %>
<h1>Update document</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@document) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :tag_list, "Tags (separated by commas)" %><br />
      <%= f.text_field :tag_list %>
  
      <%= f.label :group %>
      <%= f.select :group, {"GROUP1" => "group-1",
                            "GROUP2" => "group-2",
                            "GROUP3" => "group-3",
                            "GROUP4" => "group-4",
                            "GROUP5" => "group-5"},
                            :selected => @document.group %>

      <%= f.label :group_dl_allow, "グループ利用者取得許可" %>
      <%= f.check_box :group_dl_allow ,{:checked => @document.group_dl_allow}, true, false %>
      
      <%= f.label :other_dl_allow, "全利用者取得許可" %>
      <%= f.check_box :other_dl_allow ,{:checked => @document.other_dl_allow}, true, false %>
      
      <%= f.label :description %>
      <%= f.text_area :description, rows: 6 %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
