<% provide(:title, 'Upload document') %>
<h1>Upload document</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@document, 
                url: {action: 'create'}, 
                html: {multipart: true}) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :group %>
      <%= f.select :group, {"GROUP1" => "group-1",
                            "GROUP2" => "group-2",
                            "GROUP3" => "group-3",
                            "GROUP4" => "group-4",
                            "GROUP5" => "group-5"},
                            :selected => current_user.group %>

      <%= f.label :group_dl_allow %>
      <%= f.check_box :group_dl_allow ,{:checked => false}, true, false %>
      
      <%= f.label :other_dl_allow %>
      <%= f.check_box :other_dl_allow ,{:checked => false}, true, false %>
      
      <%= f.label :description %>      
      <%= f.text_area :description, rows: 6 %>

      <%= f.label :uploaded_document %>
      <%= f.file_field :uploaded_document %>

      <%= f.submit "Upload file", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
